
body
{
	background-image:linear-gradient(to bottom, #ECF3F3, white);
	color: white;
	font-family: serif;
}


.container
{
	margin-top: 3%;

}
footer
{	
	margin-top: 50%; 
	margin-right: auto;
	margin-left:  auto;
	background-color: black;
	color: white;
	text-align: center;
}

.graphique1
{
	margin-bottom: 50px;
}

.graphique2
{
	padding-bottom: 50px;
}

.graphique3
{
	padding-bottom: 50px;
}

.graphique4
{
	padding-bottom: 50px;
}

.graphique5
{
	padding-bottom: 50px;
}
.graphique6
{
	padding-bottom: 50px;
}

.graphique7
{
	padding-bottom: 50px;
}

.graphique8
{
	padding-bottom: 50px;
}



h2
{
	text-align: center;
}

.dropdown-menu
{

	background-image: radial-gradient(white, gray);
	text-align: center;
}

#course
{
	
	background-image: url(course1.gif);
	height: 20px;
	width: 20px;
	position:absolute;


}
.caption
{
	background-image: radial-gradient(70% gray, 30% black);
	padding-bottom: 8%;
	color: black;
	padding-top: 15%
}

.map
{
	width: 500px;
	height: 354px;
	margin-top: 30%;
	background: url(map.png) left top no-repeat;
	position: relative;
}

.map .overlay
{
	width: 500px;
	height: 354px;
	background: url(map.png) 500px top no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.map img
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.map .tooltip
{
	position: fixed;
	border-radius: 5px;
	color: #FFF;
	background: #000;
	padding: 0 10px;
	display: inline;
	top: 0;
	left: 0;
	z-index: 3;
	text-align: center;
}